**/node_modules
keys.*
.idea
**/__pycache__
**/Lib/
.vscode
**.exe
**.mp3
**.mp4
/akinamura
pyvenv.cfg
**/Scripts/
**/making_objects/
**.h
**/vendor/
**.wav
kepler-data.csv
**/out/**
*.iml
/akitraining/
/iknow/
/site/
/ruch/
*.jpeg
*.jpg
*.png