/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
  height: 100vh;
  background-color: lightskyblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
}

.space-above {
  margin-top: 20px;
  padding-top: 20px;
}

.container {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: darkslategray;
  font-size: 1.2rem;
  border-radius: 1rem;
  box-shadow: 2px 5px 5px black;
}

.btn-lg {
  border-radius: 5px;
  background-color: lightblue;
  padding: 5px 10px;
  color: darkslategray;
}

a {
  padding: 5px 10px;
  color: #1a0000;
}

a:hover {
  color: #4da6ff;
}

.btn-lg:hover {
  background-color: darkslategray;
  color: lightblue;
}

td {
  padding: 5px 10px;
  border-top: 1px solid grey;
}

input,
select {
  width: 30%;
}
